@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }

body{
    background-image: linear-gradient(180deg, rgba(205, 224, 204, 0.2945) 0%, rgba(149, 190, 171, 0.475) 80.21%, rgba(125, 175, 157, 0.95) 100%), url("./img/marble.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.h100-header{
  height: calc(100% - 48px);
}

.App{
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100vh;
}

.messenger{
}

.chat-info{
    height: 45px;
}

.chat{
}

.chat-list{

}

.chat-item{
}

.chat-input{
    height: inherit;
    resize: none;
    width: 100%;
}

.friends{
    width: 800px; 
    height: 95vh;
}